<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>${PRODUCT_IDENTIFIER}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>NSPrincipalClass</key>
	<string>MailBootstrapper</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string># Mail v 8.0 on OS X 10.10.0</string>
		<string>800E5C92-87D3-429B-8740-5C6183CD13EA</string>
		<string># Mail v 8.1 on OS X 10.10.1</string>
		<string>7C051997-F45A-4523-B053-2D262F94C775</string>
		<string># Mail v 8.2 on OS X 10.10.2</string>
		<string>60D52D22-7491-4CA7-95BA-88215BD88F8E</string>
	</array>
</dict>
</plist>
